body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: rgb(20, 25, 30);
    color: white;
    max-width: 1200px;
}

header{

}

h1{
    text-align: center;
}

html{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

ul.list{
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    height: 100%;
    row-gap: 25px;
    padding: 10px;
    margin: 0;
}

.tvshow{
    display: flex;
    border-radius: 20px;
}

a.tvshow{
    flex-direction: row-reverse;
    padding: 25px;
    box-shadow: black 0px 0px 10px;
    transition: all 0.5s;
    column-gap: 30px;
}

a.tvshow:nth-child(2n) {
    flex-direction: row;
}

a:hover{
    box-shadow: white 0px 0px 10px;
    text-shadow: white 0 0 15px;
    transform: skew(3deg, 3deg);
    transition: all 0.5s;
}

img{
    border-radius: 15px;
    box-shadow: black 0px 0px 10px;
}

a, .tvshow__title, .tvshow__description{
    text-decoration: none;
    font-style: normal;
    font-stretch: normal;
    font-family: "DejaVu Math TeX Gyre";
    color: white;
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}