body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

h1{
    text-align: center;
}

html{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

ul.list{
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    height: 100%;
}

.tvshow{
    display: flex;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
}

.tvshow1{
    flex-direction: column;
    justify-content: flex-start;
}

tvshow1{
    flex-direction: column-reverse;
    justify-content: space-around;
}